.books {
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin: 5px;
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: left;
  position: relative;
}

.books h2 {
  color: #282c34;
}

.books a {
  text-decoration: none;
}
.books a:hover {
  text-decoration: underline;
}
.author {
  font-weight: 900;
}

.publisher {
  color: #888;
  font-size: 0.9em;
}

.book-img {
}
