header {
  background-color: #195969;
  padding: 10px;
  box-shadow: 0 0 12px black;
}

header h1 {
  font-family: 'Crimson Text', serif;
  letter-spacing: 4px;
  font-size: 2.5em;
  color: #fff;
  text-shadow: 2px 2px 5px black;
}

header p {
  color: #fff;
  letter-spacing: 1px;
}

.form {
  margin-top: 3em;
}

input {
  padding: 10px;
  border: 1px solid;
  font-weight: 900;
  font-family: sans-serif;
  color: #555;
  width: 55%;
}

.btn {
  margin-top: 10px;
  cursor: pointer;
  padding: 7px;
  border: 0;
  width: 200px;
  font-weight: 900;
  background-color: #5cb85c;
  color: #fff;
}

.btn:hover {
  background-color: #257525;
}

.book-display {
  margin-top: 8em;
}

hr {
  border: 0;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.3)
  );
}

footer {
  bottom: 0;
  margin-top: 100px;
  width: 100%;
  position: relative;
  float: right;
  font-size: 0.9em;
}

footer a {
  text-decoration: none;
  color: #00657e;
}

footer a:hover {
  text-decoration: underline;
}
