header {
  background-color: #333;
  padding: 10px;
  box-shadow: #333;
  box-shadow: 0 0 10px black;
}

header h1 {
  font-family: 'Crimson Text', serif;
  letter-spacing: 4px;
  font-size: 2.5em;
  color: #fff;
  text-shadow: 2px 2px 10px black;
}

header p {
  color: #fff;
  letter-spacing: 1px;
}

.form {
  margin-top: 3em;
}

input {
  padding: 10px;
  border: 1px solid;
  width: 55%;
}

.btn {
  margin-top: 10px;
  cursor: pointer;
  padding: 8px;
  border: 0;
  width: 200px;
  font-weight: 900;
  background-color: #64a4b4;
  color: #fff;
}

.btn:hover {
  /* Will use below box shadow for book links */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
}

.book-display {
  margin-top: 8em;
}

.magnify-icon {
  margin-left: 5px;
  color: #009bc2;
}
